<!DOCTYPE html>{% templatetag openblock %} load staticfiles {% templatetag closeblock %}
<html {% templatetag openblock %} block html_attrs {% templatetag closeblock %}ng-app="{{ project_name }}"{% templatetag openblock %} endblock html_attrs {% templatetag closeblock %}>
<head {% templatetag openblock %} block head_attrs {% templatetag closeblock %}lang="en"{% templatetag openblock %} endblock head_attrs {% templatetag closeblock %}>
  {% templatetag openblock %} block head {% templatetag closeblock %}
    {% templatetag openblock %} block meta {% templatetag closeblock %}
      <meta charset="utf-8">
    {% templatetag openblock %} endblock meta {% templatetag closeblock %}
    <title>{% templatetag openblock %} block title {% templatetag closeblock %}Bem vindo{% templatetag openblock %} endblock {% templatetag closeblock %}</title>
    {% templatetag openblock %} block style {% templatetag closeblock %}
      <link rel="stylesheet" href="{% templatetag openblock %} static 'angular-busy/angular-busy-4.1.3.min.css' {% templatetag closeblock %}"/>
      <link rel="stylesheet" href="{% templatetag openblock %} static 'angular-ui-notification/angular-ui-notification-0.0.11.min.css' {% templatetag closeblock %}"/>
      <link rel="stylesheet" href="{% templatetag openblock %} static 'bootstrap/css/bootstrap-3.3.4.min.css' {% templatetag closeblock %}"/>
      <link rel="stylesheet" href="{% templatetag openblock %} static 'bootstrap/css/bootstrap-theme-3.3.4.min.css' {% templatetag closeblock %}"/>
      <link rel="stylesheet" href="{% templatetag openblock %} static 'font-awesome/css/font-awesome-4.3.0.min.css' {% templatetag closeblock %}"/>
      <link rel="stylesheet" href="{% templatetag openblock %} static 'ui-grid/ui-grid-3.0.0-RC.min.css' {% templatetag closeblock %}"/>
      <link rel="stylesheet" href="{% templatetag openblock %} static 'css/base.css' {% templatetag closeblock %}"/>
    {% templatetag openblock %} endblock style {% templatetag closeblock %}
  {% templatetag openblock %} endblock head {% templatetag closeblock %}
</head>
<body {% templatetag openblock %} block body_attrs {% templatetag closeblock %}{% templatetag openblock %} endblock body_attrs {% templatetag closeblock %}>
  {% templatetag openblock %} block body {% templatetag closeblock %}App working.{% templatetag openblock %} endblock body {% templatetag closeblock %}

  {% templatetag openblock %} block scripts {% templatetag closeblock %}
    <script src="{% templatetag openblock %} static 'angular/angular-1.3.16.min.js' {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static 'angular-resource/angular-resource-1.3.16.min.js' {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static 'angular-animate/angular-animate-1.3.16.min.js' {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static 'angular-bootstrap/ui-bootstrap-tpls-0.13.0.min.js' {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static 'angular-busy/angular-busy-4.1.3.min.js' {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static 'angular-i18n/angular-locale-1.4.1_pt-br.js' {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static 'angular-input-masks/string-mask-2.0.0.js' {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static 'angular-ui-notification/angular-ui-notification-0.0.11.min.js' {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static 'angular-ui-router/angular-ui-router-0.2.15.min.js' {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static 'ui-grid/ui-grid-3.0.0-RC.min.js' {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static 'js/app.js' {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static 'js/controllers.js' {% templatetag closeblock %}"></script>
    <script src="{% templatetag openblock %} static 'js/directives.js' {% templatetag closeblock %}"></script>
  {% templatetag openblock %} endblock scripts {% templatetag closeblock %}
</body>
</html>