/* Global css styles */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.responsive-container {
  padding-top: 5%;
}

.ngFade.ng-enter { transition: 0.1s linear all; opacity: 0; }
.ngFade.ng-enter-active { opacity: 1; }