{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}Resetar senha{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
  <div class="container responsive-container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            Ativação de conta.
          </div>
          <div class="panel-body">
            <p>Sua conta foi ativada com sucesso. Agora você pode fazer login em nosso site. Obrigado.</p>
            <hr/>
            <a href="{% templatetag openblock %} url 'auth_login' {% templatetag closeblock %}" class="btn btn-success pull-right">
              <span class="glyphicon glyphicon-log-in"></span> Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% templatetag openblock %} endblock body {% templatetag closeblock %}