<h5>Olá {% templatetag openvariable %} user.username.capitalize {% templatetag closevariable %}!</h5>

<p>Recebemos uma solicitação de registro em nosso site (<a href="https://{% templatetag openvariable %} site.domain {% templatetag closevariable %}">https://{% templatetag openvariable %} site.domain {% templatetag closevariable %}</a>) através de seu email {% templatetag openvariable %} user.email {% templatetag closevariable %}. Se você não fez uma solicitação de registro, pedimos que por favor ignore esse email.</p>

<p>Para completar o processo de registro, clique no link a seguir (ou copie e cole no seu navegador). Esse link permanecerá válido por {% templatetag openvariable %} expiration_days {% templatetag closevariable %} dia(s):</p>

<p><a href="https://{% templatetag openvariable %} site.domain {% templatetag closevariable %}/usuario/activate/{% templatetag openvariable %} activation_key {% templatetag closevariable %}/" target="_blank">https://{% templatetag openvariable %} site.domain {% templatetag closevariable %}/usuario/activate/{% templatetag openvariable %} activation_key {% templatetag closevariable %}/</a></p>