{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}Erro{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
  <div class="container responsive-container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-danger">
          <div class="panel-heading">
            Link Inválido
          </div>
          <div class="panel-body">
            <p>Ocorreu um erro ao tentar ativar a referida conta. Talvez a conta já tenha sido ativada, ou o link utilizado é inválido.
              Em caso de dúvidas, entre em contato com a administração do site. Obrigado.</p>
            <hr/>
            <a href="{% templatetag openblock %} url 'auth_login' {% templatetag closeblock %}" class="btn btn-primary pull-right">
              <span class="glyphicon glyphicon-log-in"></span> Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% templatetag openblock %} endblock body {% templatetag closeblock %}