{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}{% templatetag openblock %} load staticfiles widget_tweaks {% templatetag closeblock %}
{% templatetag openblock %} block title {% templatetag closeblock %}Login{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
  <div class="container responsive-container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        {% templatetag openblock %} if form.non_field_errors {% templatetag closeblock %}
          <div ng-controller="userController">
            <alert ng-repeat="alert in alerts" type="[[ alert.type ]]" closeable="[[ alert.closeable ]]"
              close="closeAlert($index)">{% templatetag openvariable %} form.non_field_errors.0 {% templatetag closevariable %}
            </alert>
          </div>
        {% templatetag openblock %} endif {% templatetag closeblock %}

        <div class="panel panel-default">
          <div class="panel-heading">
            Login
          </div>
          <div class="panel-body">
            <form action="{% templatetag openblock %} url 'auth_login' {% templatetag closeblock %}" method="post">{% templatetag openblock %} csrf_token {% templatetag closeblock %}
              <div class="form-group has-feedback {% templatetag openblock %} if form.username.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
                {% templatetag openblock %} render_field form.username class="form-control" placeholder="usuario" autofocus="autofocus" {% templatetag closeblock %}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                {% templatetag openblock %} if form.username.errors {% templatetag closeblock %}
                  <span class="text-danger">{% templatetag openvariable %} form.username.errors.0 {% templatetag closevariable %}</span>
                {% templatetag openblock %} endif {% templatetag closeblock %}
              </div>

              <div class="form-group has-feedback {% templatetag openblock %} if form.password.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
                {% templatetag openblock %} render_field form.password class="form-control" placeholder="Senha" {% templatetag closeblock %}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                {% templatetag openblock %} if form.password.errors {% templatetag closeblock %}
                  <span class="text-danger">{% templatetag openvariable %} form.password.errors.0 {% templatetag closevariable %}</span>
                {% templatetag openblock %} endif {% templatetag closeblock %}
              </div>
              <button type="submit" class="btn btn-primary pull-right" id="id_login_button">
                <span class="glyphicon glyphicon-log-in"></span> Login
              </button>
              <input type="hidden" name="next" value="{% templatetag openvariable %} next {% templatetag closevariable %}"/>
            </form>

            <a href="{% templatetag openblock %} url 'password_reset' {% templatetag closeblock %}" id="id_password_reset_link">Esqueci minha senha</a><br>
            <a href="{% templatetag openblock %} url 'registration_register' {% templatetag closeblock %}" class="text-center" id="id_register_link">Registrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% templatetag openblock %} endblock {% templatetag closeblock %}