{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}Resetar Senha{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
  <div class="container responsive-container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            Resetar Senha
          </div>
          <div class="panel-body">
            <p>Um email foi enviado contendo informações para completar o processo de <i>reset</i> de sua senha.</p>
            <hr/>
            <a href="{% templatetag openblock %} url 'auth_login' {% templatetag closeblock %}" class="btn btn-info pull-right">
              <span class="glyphicon glyphicon-log-in"></span> Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% templatetag openblock %} endblock body {% templatetag closeblock %}