<p>Recebemos uma solicitação para reset de senha através do seu email ({% templatetag openvariable %} email {% templatetag closevariable %}). Se não foi você, então pedimos que por favor, ignore essa mensagem.</p>

<p>Para completar o processo de reset de senha clique no link abaixo (ou copie e cole em seu navegador):</p>
<a href="https://{% templatetag openvariable %} domain {% templatetag closevariable %}{% templatetag openblock %} url 'auth_password_reset_confirm' uidb64=uid token=token {% templatetag closeblock %}" target="_blank">https://{% templatetag openvariable %} domain {% templatetag closevariable %}{% templatetag openblock %} url 'auth_password_reset_confirm' uidb64=uid token=token {% templatetag closeblock %}</a>