{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}{% templatetag openblock %} load widget_tweaks {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}Resetar Senha{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
  <div class="container responsive-container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            Entre com seu email de registro no campo a seguir para <i>resetar</i> sua senha.
          </div>
          <div class="panel-body">
            <form action="{% templatetag openblock %} url 'auth_password_reset' {% templatetag closeblock %}" method="post">{% templatetag openblock %} csrf_token {% templatetag closeblock %}
              <div class="form-group has-feedback {% templatetag openblock %} if form.email.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
                {% templatetag openblock %} render_field form.email class="form-control" placeholder="email" autofocus="autofocus" {% templatetag closeblock %}
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                {% templatetag openblock %} if form.email.errors {% templatetag closeblock %}
                  <span class="text-danger">{% templatetag openvariable %} form.email.errors.0 {% templatetag closevariable %}</span>
                {% templatetag openblock %} endif {% templatetag closeblock %}
              </div>
              <a href="{% templatetag openblock %} url 'auth_login' {% templatetag closeblock %}" class="btn btn-primary pull-left">
                <span class="glyphicon glyphicon-log-in"></span> Login
              </a>

              <button type="submit" class="btn btn-primary pull-right" id="id_reset_password_button">
                <span class="glyphicon glyphicon-refresh"></span> Resetar Senha
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% templatetag openblock %} endblock body {% templatetag closeblock %}