{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}{% templatetag openblock %} load widget_tweaks {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}Resetar Senha{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
  <div class="container responsive-container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            Entre com sua nova senha nos campos a seguir.
          </div>
          <div class="panel-body">
            <form action="" method="post">{% templatetag openblock %} csrf_token {% templatetag closeblock %}
              <div class="form-group has-feedback {% templatetag openblock %} if form.new_password1.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
                {% templatetag openblock %} render_field form.new_password1 class="form-control" placeholder="Nova Senha" autofocus="autofocus" {% templatetag closeblock %}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                {% templatetag openblock %} if form.new_password1.errors {% templatetag closeblock %}
                  <span class="text-danger">{% templatetag openvariable %} form.new_password1.errors.0 {% templatetag closevariable %}</span>
                {% templatetag openblock %} endif {% templatetag closeblock %}
              </div>
              <div class="form-group has-feedback {% templatetag openblock %} if form.new_password2.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
                {% templatetag openblock %} render_field form.new_password2 class="form-control" placeholder="Confimar Nova Senha" {% templatetag closeblock %}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                {% templatetag openblock %} if form.new_password2.errors {% templatetag closeblock %}
                  <span class="text-danger">{% templatetag openvariable %} form.new_password2.errors.0 {% templatetag closevariable %}</span>
                {% templatetag openblock %} endif {% templatetag closeblock %}
              </div>

              <button type="submit" class="btn btn-primary pull-right" id="id_reset_password_button">
                <i class="fa fa-fw fa-repeat"></i> Resetar Senha
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% templatetag openblock %} endblock body {% templatetag closeblock %}