{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}{% templatetag openblock %} load widget_tweaks {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}Registrar{% templatetag openblock %} endblock title {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
  <div class="container responsive-container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            Registro
          </div>
          <div class="panel-body">
            <form action="{% templatetag openblock %} url 'registration_register' {% templatetag closeblock %}" method="post">{% templatetag openblock %} csrf_token {% templatetag closeblock %}
              <div class="form-group has-feedback {% templatetag openblock %} if form.username.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
                {% templatetag openblock %} render_field form.username class="form-control" placeholder="usuario" autofocus="autofocus" {% templatetag closeblock %}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                {% templatetag openblock %} if form.username.errors {% templatetag closeblock %}
                  <span class="text-danger">{% templatetag openvariable %} form.username.errors.0 {% templatetag closevariable %}</span>
                {% templatetag openblock %} endif {% templatetag closeblock %}
              </div>
              <div class="form-group has-feedback {% templatetag openblock %} if form.email.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
                {% templatetag openblock %} render_field form.email class="form-control" placeholder="Email" {% templatetag closeblock %}
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                {% templatetag openblock %} if form.email.errors {% templatetag closeblock %}
                  <span class="text-danger">{% templatetag openvariable %} form.email.errors.0 {% templatetag closevariable %}</span>
                {% templatetag openblock %} endif {% templatetag closeblock %}
              </div>
              <div class="form-group has-feedback {% templatetag openblock %} if form.password1.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
                {% templatetag openblock %} render_field form.password1 class="form-control" placeholder="Senha" {% templatetag closeblock %}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                {% templatetag openblock %} if form.password1.errors {% templatetag closeblock %}
                  <span class="text-danger">{% templatetag openvariable %} form.password1.errors.0 {% templatetag closevariable %}</span>
                {% templatetag openblock %} endif {% templatetag closeblock %}
              </div>
              <div class="form-group has-feedback {% templatetag openblock %} if form.password2.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
                {% templatetag openblock %} render_field form.password2 class="form-control" placeholder="Confirmar Senha" {% templatetag closeblock %}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                {% templatetag openblock %} if form.password2.errors {% templatetag closeblock %}
                  <span class="text-danger">{% templatetag openvariable %} form.password2.errors.0 {% templatetag closevariable %}</span>
                {% templatetag openblock %} endif {% templatetag closeblock %}
              </div>
              <div class="row">
                <div class="col-xs-4">
                  <a href="{% templatetag openblock %} url 'auth_login' {% templatetag closeblock %}" class="btn btn-primary btn-block btn-flat" id="id_login_button"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </div>

                <div class="col-xs-4 col-xs-offset-4">
                  <button type="submit" class="btn btn-primary btn-block btn-flat" id="id_register_button"><span class="glyphicon glyphicon-floppy-save"></span> Registrar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% templatetag openblock %} endblock body {% templatetag closeblock %}